// Define variables for your color scheme

// For example:
$red: rgba(249, 62, 74, 0.4);
$white: #FFF;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$gray-btn: rgb(70,70,70);
$light-gray: #F4F4F4;
$white-btn: rgba(255,255,255,0.3);
