<div class="header">
  <h1>THE MINIBAR</h1>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path "cocktails_banner.jpg" %>');">
  <div class="banner-content">
    <p>Sharing a collection of the best cocktails</p>
    <%= link_to 'Add your own', new_cocktail_path, :class => "btn btn-primary btn-lg" %>
  </div>
</div>

<div class="container">
  <h2 class="text-center">What's your drink?</h2>
  <div class="row">
    <%= render @cocktails %>
  </div>
</div>

<div class="container text-center">
  <%= link_to 'Add a cocktail', new_cocktail_path %>
</div>


