.card {
  height: 400px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  width: 300px;
  border: 7px white solid;
  &:hover {
    opacity: 0.9;
  }
}
.card-description {
  position: absolute;
  bottom: 50%;
  left: 15%;
  h3 {
      font-size: 22px;
      margin: auto auto;
  }
}
